@model GloboClima.App.Configuration.Authentication.ViewModels.RegisterUserViewModel

@{
    ViewData["Title"] = "Log in";
}

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container-fluid bg-body-tertiary dark__bg-gray-1200">
        <div class="bg-holder bg-auth-card-overlay" style="background-image:url('/lib/template-phoenix/assets/img/bg/37.png');">
        </div>
        <!--/.bg-holder-->
        <form id="account" method="post">
            <div class="row flex-center position-relative min-vh-100 g-0 py-5">
                <div class="col-11 col-sm-10 col-xl-8">
                    <div class="card border border-translucent auth-card">
                        <div class="card-body pe-md-0">
                            <div class="row align-items-center gx-0 gy-7">
                                <div class="col-auto bg-body-highlight dark__bg-gray-1100 rounded-3 position-relative overflow-hidden auth-title-box">
                                    <div class="bg-holder" style="background-image:url('/lib/template-phoenix/assets/img/bg/38.png');">
                                    </div>
                                    <!--/.bg-holder-->

                                    <div class="position-relative px-4 px-lg-7 pt-7 pb-7 pb-sm-5 text-center text-md-start pb-lg-7 pb-md-7">
                                        <h3 class="mb-3 text-body-emphasis fs-7">Globo Clima</h3>
                                        <p class="text-body-tertiary">Salve e acompanhe suas cidades favoritas para sempre estar atualizado!</p>
                                        <ul class="list-unstyled mb-0 w-max-content w-md-auto">
                                            <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-body-tertiary fw-semibold">Rápido acesso a dados essenciais</span></li>
                                            <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-body-tertiary fw-semibold">Interface simples e intuitiva</span></li>
                                            <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-body-tertiary fw-semibold">Fonte confiável de informação</span></li>
                                        </ul>
                                    </div>
                                    <div class="position-relative z-n1 mb-6 d-none d-md-block text-center mt-md-15">
                                        <img class="auth-title-box-img d-dark-none" src="~/lib/template-phoenix/assets/img/spot-illustrations/41.png" alt="" />
                                        <img class="auth-title-box-img d-light-none" src="~/lib/template-phoenix/assets/img/spot-illustrations/dark_41.png" alt="" />
                                    </div>
                                </div>
                                <div class="col mx-auto">
                                    <div class="auth-form-box">
                                        <div class="text-center mb-7">
                                            <a class="d-flex flex-center text-decoration-none" href="#">
                                                <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block">
                                                    <img class="auth-title-box-img d-light-none" src="~/lib/template-phoenix/assets/img/icons//lightning-speed-dark.png" alt="" />
                                                    <img class="auth-title-box-img d-dark-none" src="~/lib/template-phoenix/assets/img/icons/lightning-speed.png" alt="" />
                                                </div>
                                            </a>
                                            <h3 class="text-body-highlight">Registrar</h3>
                                            <p class="text-body-tertiary">Crie sua nova conta agora!</p>
                                        </div>
                                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                        <div class="mb-3 text-start">
                                            <label class="form-label" for="name">Nome</label>
                                            <input class="form-control" asp-for="@Model.Name" type="text" />
                                            <span asp-validation-for="@Model.Name" class="text-danger"></span>
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label class="form-label">Email</label>
                                            <input class="form-control" asp-for="@Model.Email" type="email"/>
                                            <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                        </div>
                                        <div class="row g-3 mb-3">
                                            <div class="col-sm-6">
                                                <label class="form-label" for="password">Senha</label>
                                                <div class="position-relative" data-password="data-password">
                                                    <input class="form-control form-icon-input pe-6" asp-for="@Model.Password" type="password" data-password-input="data-password-input" />
                                                    <button class="btn px-3 py-0 h-100 position-absolute top-0 end-0 fs-7 text-body-tertiary" data-password-toggle="data-password-toggle"><span class="uil uil-eye show"></span><span class="uil uil-eye-slash hide"></span></button>
                                                </div>
                                                <span asp-validation-for="@Model.Password" class="text-danger"></span>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="form-label" for="confirmPassword">Confirmar Senha</label>
                                                <div class="position-relative" data-password="data-password">
                                                    <input class="form-control form-icon-input pe-6" asp-for="@Model.ConfirmPassword" type="password" placeholder="Confirm Password" data-password-input="data-password-input" />
                                                    <button class="btn px-3 py-0 h-100 position-absolute top-0 end-0 fs-7 text-body-tertiary" data-password-toggle="data-password-toggle"><span class="uil uil-eye show"></span><span class="uil uil-eye-slash hide"></span></button>
                                                </div>
                                                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>

                                            </div>
                                        </div>
                                        <button class="btn btn-primary w-100 mb-3" type="submit">Registrar</button>
                                        <div class="text-center"><a class="fs-9 fw-bold" asp-controller="Auth" asp-action="Login">Faça Login em uma conta existente</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        var navbarTopStyle = window.config.config.phoenixNavbarTopStyle;
        var navbarTop = document.querySelector('.navbar-top');
        if (navbarTopStyle === 'darker') {
            navbarTop.setAttribute('data-navbar-appearance', 'darker');
        }

        var navbarVerticalStyle = window.config.config.phoenixNavbarVerticalStyle;
        var navbarVertical = document.querySelector('.navbar-vertical');
        if (navbarVertical && navbarVerticalStyle === 'darker') {
            navbarVertical.setAttribute('data-navbar-appearance', 'darker');
        }
    </script>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}